html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecedee !important;
}

%bg {
  background: no-repeat {
    size:cover;
    position: top;
  }
}

.bg-inicio {
  @extend %bg;
  background-image: url(./assets/casa-front.jpg);
}

.bg-action {
  @extend %bg;
  background-image: url(./assets/bg-diego.jpg);
}

///////////// ANIMACIONES DE IMAGENES
///
/* 
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.img-zoom {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 40%;
  animation-fill-mode: both;
}
 */